.contactUs{
    height: calc(100vh * 80%);
}
.contactUs ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: rgb(28, 73, 133);
    color: #eee;
    padding: 3rem;
    border-radius: 1rem;
    margin-bottom: 3.7rem;
}
/* .contactUs ul li{
    margin-bottom: 4rem;
} */
.contact, .contact1{
    text-align: center;
    margin-right: 3rem;
}

@media (max-width: 500px){
    .contactUs ul{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
        padding: 2rem;
    }
    .contact, .contact1{
        text-align: center;
        margin-right: 0;
    }
}